<div class="header">
  <img class="logo" src="/assets/logo.png" alt="Medicar logo oficial" />
  <section class="user-info-action">
    <p class="connected-user">Usuário Logado</p>
    <p class="disconect">Desconectar</p>
  </section>
</div>

<div class="table">
  <div class="top-infos">
    <h2 class="title">Consulta Clínica</h2>
    <button>+ NOVA CONSULTA</button>
  </div>
  <div class="table-headers">
    <div class="table-headers-text">
      <h3>Especialidade</h3>
    </div>
    <div class="table-headers-text">
      <h3>Profissional</h3>
    </div>
    <div class="table-headers-text">
      <h3>Data</h3>
    </div>
    <div class="table-headers-text">
      <h3>Hora</h3>
    </div>
    <div class="table-headers-text"></div>
  </div>
</div>
